@media (min-width: 375px) and (max-width: 424px) {
  .headerContainer{

    padding:0 0.1em !important;


  }


  .casestudyparagraphblacklist{

    padding-right: 0em !important;
    font-size: 1em !important;
  }
  .headerParagraph{

    font-size: 0.9em !important;

  }



  .casestudyparagraph{
    font-size: 1em !important;
    //padding-top: 0.2em;
  }


  .projectName{

    font-size: 1.4em !important;

  }
  .bundleImageMobile{
    display: grid !important;
width: 100%;
  }

  .bundleImage{
  display: none;


  }

  .projectGrid{
    display: block !important;

    padding-bottom: 6em !important;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .headerContainer{

    padding:0 0em !important;


  }


  .casestudyparagraphblacklist{

    padding-right: 2em !important;
    font-size: 1em !important;
  }
  .headerParagraph{

    font-size: 1em !important;

  }



  .casestudyparagraph{
    font-size: 1em !important;
    //padding-top: 0.2em;
  }


  .projectName{

    font-size: 1.4em !important;

  }
  .bundleImageMobile{
    display: grid !important;
width: 100%;
  }

  .bundleImage{
  display: none;


  }

  .projectGrid{
    display: block !important;

    padding-bottom: 6em !important;
  }
}


  @media (min-width: 768px) and (max-width: 1023px) {

  .headerContainer{

    padding:0 5em !important;


  }


  .casestudyparagraphblacklist{

    padding-right: 0em !important;
  }
  .headerParagraph{

    font-size: 1em !important;

  }


}


  @media (min-width: 1024px) and (max-width: 1199px){
  //.container{
  //  /*max-width: 1440px;*/
  //  margin: 0 auto;
  //
  //  padding: 0 2.2em !important;
  //}

  .headerContainer{

    padding:0 8.5em !important;


  }


  .casestudyparagraphblacklist{

    padding-right: 1em !important;
  }
  .headerParagraph{

    font-size: 1em !important;

  }

}




@media (min-width: 1200px) and (max-width: 1399px){
  //.container{
  //  /*max-width: 1440px;*/
  //  margin: 0 auto;
  //
  //  padding: 0 2.2em !important;
  //}

  .headerContainer{

    padding:0 12.5em !important;


  }


  .casestudyparagraphblacklist{

    padding-right: 4.5em !important;
  }
}

.headerContainer{
  text-align: center;
  padding:0 15.3em;


}

.header{

  font-size: 1.5em;
  line-height: 52px;
  margin: unset;
}


.headerParagraph{

  font-size: 1.2em;
  font-weight: 400;
  line-height: 33px;
  margin: unset;
}


.projectcontainer{

  padding-top: 5em;


}

.bundleImage{
  width: 100%;


}

.casestudy{
margin: unset;
  border-bottom: 2px solid #535353;
width:5em;
  padding-bottom:0.2em;
  font-size: 1em;
  font-weight: 400;

}

//.underline{
//  text-decoration-color: #fafafa ;
//margin-top: 10em;
//}

.bundle{
  padding-top: 3em;
}

.aboutProject{

display: grid;
  margin: unset;
  padding-top: 0.5em;

}

.projectName{
  font-family: "Okta Bold";
  font-size: 1.5em;
  font-weight: 800;
  margin:unset;
}

.casestudyparagraph{
  font-size: 1.2em;
  padding-top: 0.2em;
}

.longline{
  width: 100%;

  padding-top: 4em;
}

.projectGrid{
  display: grid;
  grid-template-columns: 2fr 0.05fr 2fr;
  padding-bottom: 6em;
}

.casestudyparagraphblacklist{
  font-size: 1.2em;
  padding-top: 0.2em;
  padding-right: 7em;
}

.bundleImageMobile{
  display: none;

}