
@media (min-width: 1200px) and (max-width: 1399px){
  .container{


    padding: 1.5em 22em !important;
  }

}



.container{

  text-align: center;
  padding: 1.5em 25em;
}

.emailHeader{
  font-family: "Okta Bold";
  font-size: 1.9em;
  font-weight: 800;
  margin-bottom: unset;
}

.emailParagraph{

margin: unset;
 padding: 1em 0em;
}

.button{
  margin-top: 0.2em;
  border-radius: 0.29em;
  width: 10em;
  font-family: "Okta Bold";
  background: #37C3B3;
  border: none;
  line-height: 42px;
  text-align: center;
font-size: 1.05em;
  color: #FFFFFF;
}

