@font-face {
  src: url("https://res.cloudinary.com/seunsanyaa/raw/upload/v1638778653/OktaNeue-SemiBold_pttfou.ttf");
font-family: 'Okta Bold';
}

@media (min-width: 375px) and (max-width: 424px) {
  .container{

    padding-bottom: 0em !important;
    padding-top: 8em !important;

    padding-right: 0em !important;
    padding-left: 0em !important;
  }
  .hithere{
    font-weight: 600 !important;

    font-size: 1em !important;
  }
  .aboutMe{

    font-size: 1.6em !important;
    padding-right: 0.1em !important;

  }


  .scrolltrigger{

    font-weight: 600 !important;
    font-size: 0.8em !important;

  }

}
@media (min-width: 425px) and (max-width: 767px) {
  .container{

padding-bottom: 0em !important;
    padding-top: 8em !important;

    padding-right: 0em !important;
    padding-left: 0em !important;
  }
  .hithere{


    font-size: 1em !important;
  }
  .aboutMe{

    font-size: 1.8em !important;
    padding-right: 0.5em !important;

  }


  .scrolltrigger{


    font-size: 0.8em !important;

  }

}
@media (min-width: 768px) and (max-width: 1023px) {
  .container{


    padding: 5.3em 5em !important;
  }
  .hithere{


    font-size: 1em !important;
  }
  .aboutMe{

    font-size: 1.5em !important;

  }

}
@media (min-width: 1024px) and (max-width: 1199px){
  .container{


    padding: 5.3em 4em !important;
  }

  .aboutMe{

    font-size: 2.1em !important;

  }

}

@media (min-width: 1200px) and (max-width: 1399px){
  .container{


    padding: 6em 5em !important;
  }

  .aboutMe{

    font-size: 2.5em !important;

  }

}
.container{
  padding: 8em 2em;
  height: 100vh;

}
.hithere{

  font-weight: 400;
margin: unset;
  line-height: 41px;
  font-size: 1.4em;
}

.smiley{
  padding-left: 0.5em;
}

.aboutMe{
  padding-top: 0.4em;
  font-weight: 600;
  font-size: 3em;
  line-height: 146%;
  font-family: "Okta Bold";
  margin: unset;
}

.scrolltrigger{

  padding-top: 4em;
  display: flex;
  align-items: center;
  font-size: 1em;
  line-height: 27px;
}

.arrow{
  padding-left: 1em;
}

.longline{

width: 100%;

}
