
@media (min-width: 320px) and (max-width: 374px) {
    .imgContainer{
        display: none;
    }
    .imgContainerCashPay{
        display: none;
    }


    .imgContainerGrid {
        display: none;
    }
    .imgContainerGrid2 {
        display: none;
    }

}


@media (min-width: 375px) and (max-width: 424px) {
    .imgContainer{
        display: none;
    }
    .imgContainerCashPay{
        display: none;
    }


    .imgContainerGrid {
        display: none;
    }
    .imgContainerGrid2 {
        display: none;
    }
}

@media (min-width: 425px) and (max-width: 767px) {


    /*.imgContainerMobile{*/
    /*    position: relative;*/
    /*    width: 100%;*/
    /*    height: 337px;*/
    /*    overflow: hidden;*/
    /*    transform: scale(1);*/
    /*    display: block !important;*/

    /*}*/
    /*.imgContainerMobile:after{*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    top: 0;*/
    /*    right: 0;*/
    /*    background: red;*/
    /*    display: block !important;*/

    /*}*/



    .imgContainer{
        display: none;
    }
    .imgContainerCashPay{
        display: none;
    }


    .imgContainerGrid {
        display: none;
    }
    .imgContainerGrid2 {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1023px){

    .imgContainer {

        height: 405px !important;

    }

    .imgContainerCashPay{

        height: 405px !important;
    }

    .imgContainerGrid {
        height: 380px !important;
    }
    .imgContainerGrid2 {
        height: 380px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1199px){

    .imgContainer {

        height: 505px !important;

    }

    .imgContainerCashPay{

        height: 505px !important;
    }
    .imgContainerGrid {
        height: 470px !important;
    }
    .imgContainerGrid2 {
        height: 470px !important;
    }

}


@media (min-width: 768px ) {
    .imgContainerMobile{
        /*position: relative;*/
        /*width: 100%;*/
        /*height: 337px;*/
        /*overflow: hidden;*/
        /*transform: scale(1);*/
        display: none;
    }


    .imgContainerCashPayMobile{
        display: none;
    }

    .imgContainerGridMobile{
        display: none;
    }

    .imgContainerGridMobile2{
        display: none;
    }
}
html,
body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
background: black;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/

}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.imgContainerMobile{
    position: relative;
    width: 100%;
    height: 337px;
    overflow: hidden;
    transform: scale(1);
    /*display: none;*/
}
.imgContainerMobile:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: black;

/*display: none;*/

}


.imgContainerCashPayMobile{
    position: relative;
    width: 100%;
    height: 337px;
    overflow: hidden;
    transform: scale(1);
}
.imgContainerCashPayMobile:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: black;
}


.imgContainerGridMobile{
    position: relative;
    width: 100%;
    height: 337px;
    overflow: hidden;
    transform: scale(1);
}


.imgContainerGridMobile:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: black;
}




.imgContainerGridMobile2{
    position: relative;
    width: 100%;
    height: 337px;
    overflow: hidden;
    transform: scale(1);
}


.imgContainerGridMobile2:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: black;
}




.imgContainer {
    position: relative;
    width: 100%;
    height: 617px;
    overflow: hidden;
    transform: scale(1);

}
.imgContainer:after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   background: black;



}
.imgContainerCashPay{
    position: relative;
    width: 100%;
    height: 617px;
    overflow: hidden;
    transform: scale(1);

}

.imgContainerCashPay:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: black;



}

.imgContainerGrid {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.imgContainerGrid:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-size:cover;
    /*background-repeat: no-repeat;*/
    /*background: red;*/
    background-image: url("https://res.cloudinary.com/dcvulgpi0/image/upload/v1679031553/Instagram_post_-_1_asqtth.png");



}
.imgContainerGrid2 {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.imgContainerGrid2:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-size:cover;
    /*background-repeat: no-repeat;*/
    /*background: red;*/
    background-image: url("https://res.cloudinary.com/seunsanyaa/image/upload/v1641490173/Instagram_post_-_3_egdqh5.png");



}


.bundleImage{
    width: 100%;

    position: absolute;
    transform: scale(1);

}



.cashPayImage{
    width: 100%;

    position: absolute;
    transform: scale(1);


}

.aladdinImage{
    width: 100%;

    position: absolute;
}
.blacklistImage{
    width: 100%;

    position: absolute;
}

button{
    background: none;
    border: unset;
    color: white;
    font-family: Okta ;
    font-weight: 800;
    font-size: 1em;
    cursor: pointer;
}
#navlink:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }

}

.herohidden{
    visibility: hidden;
}
.hidden{
    visibility: hidden;
}


.viewport {

 }