
.nav{
  font-family: Okta;
  padding-top: 1.5em;
  padding-bottom: 3.5em;

  border-bottom: 0.2px solid #FFFFFF;


}
.NavbarContainer{
  //display: block;
  text-align: center;

}

.resumeAndContact{
  padding-top: 6em;
}
.resumeAndContact>*{
display: block;
}

.menuLinkContent{
  font-family: "Okta Bold";
  font-size: 1.7em;

  padding-top: 2em;
}

.socials{
  padding-top: 6em;
  justify-content: space-evenly;
}

.link{
  padding-left: 1.5em !important;
}

.cancel{
margin-left: 80%;
  background: unset;
  border: none;
}

.navstop{
 overflow: unset;
  position: fixed;
  overflow-y: unset;
}